<div id="upload-display">
	<div class="fileUpload btn btn-primary">
    <span>Take a Photo</span>
    <input type="file" class="upload" accept="image/*" onchange="picChange(event)" />
	</div>
	<canvas id="capturedPhoto"></canvas>
  <div class="swatch" id="primary"></div>
  <div class="swatch" id="secondary"></div>
  <div class="swatch" id="tertiary"></div>

  <div>
    <div class="item-category" id="Top">
      <%= image_tag("T-Shirt.png", class: "category-image") %>
    </div>
    <div class="item-category" id="Bottom">
      <%= image_tag("Dress-Pants.png", class: "category-image") %>
    </div>
    <div class="item-category" id="Shoes">
      <%= image_tag("Sneakers.png", class: "category-image") %>
    </div>
  </div>

</div>




