<h2>"<%= @fashion_quote %>"</h2><h3><%= @fashion_quote_author %></h3>

<div class="stats">
<p>Statistics</p>
<% if @count != 1 %>
	<p>You've worn this outfit <%= @count %> times.</p>
<% else %>
	<p>You've worn this outfit 1 time.</p>
<% end %>
</div>

<div id="outfit-display">
  <%= render partial: "show_outfit", layout: false %>
</div>

<style type="text/css">
  body {
    background-image: url(/fresh_snow.png);
  }
</style>