<h2>"<%= @fashion_quote %>"</h2><h3><%= @fashion_quote_author %></h3>

<div class="stats">
<p>Statistics</p>
<p>Number of times you've worn this outfit: <%= @count %></p>
</div>

<div id="outfit-display">
  <%= render partial: "show_outfit", layout: false %>
</div>