/********** General Layout **********/
.body {
  font-family: 'Belleza', sans-serif;
}

.row {
  margin-top: 35px;
}

/********** Navbar **********/
.layout-header {
  background-color: rgba(0, 16, 74, 1.0);
}

.layout-header ul {
  list-style: none
}

.layout-header li {
  display: inline
}

ul.nav {
  float: right;
  margin-right: 25px;
}

ul.nav li {
  margin: 0 5px;
}

.navbar-toggle .icon-bar:nth-of-type(2) {
    top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
    top: 2px;
}

.navbar-toggle .icon-bar {
    position: relative;
    transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
    top: 6px;
    transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
    background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
    top: -6px;
    transform: rotate(-45deg);
}


/********** Logo **********/
.logo {
  font-family: 'Belleza', sans-serif;
  font-size: 2em;
  margin: 10px 15px;
}


/********** Links **********/
a {
  text-decoration: none;
  color: rgba(114, 142, 166, 1.0);
}

a:hover {
  text-decoration: none;
}

/********** Buttons **********/
button {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

button.bottom-item, button.top-item, button.shoe-item {

}

button.bottom-item p, button.top-item p, button.shoe-item p {
  text-align: center;
  color: white;
}

.btn-lg {
  margin: 10px;
  width: 200px;
}


/********** Login Form **********/
.form-group {
  font-family: 'Belleza', sans-serif;
  color: rgba(0, 16, 74, 1.0);
}

.form-group label {
  font-size: 2.5em;
  color: rgba(0, 16, 74, 1.0);
}

.form-group input {
  height: 3.25em;
  width: 250px;
}

.new-form {
  text-align: center;
  margin-top: 4em;
}

.new-form button {
  font-family: 'Belleza', sans-serif;
  color: rgba(0, 16, 74, 1.0);
  margin: 5px 10px;
}

.form-buttons {
  font-family: 'Belleza', sans-serif;
  display: inline;
  color: rgba(0, 16, 74, 1.0);
  margin: 5px 10px;
}

.form-buttons button a {
  color: rgba(0, 16, 74, 1.0);
}


/********** Header **********/
.page-header {
  margin-top: 100px;
  text-align: center
}
.new-form {
  text-align: center;
  margin-top: 4em;
}

ul.wardrobe-show {
  list-style: none
}

button.bottom-item p, button.top-item p, button.shoe-item p {
  text-align: center;
  color: white;
}

h2.category-title {
  text-align: center;
}


/********** Items **********/
.items {
  text-align: center;
}

.item, .item-choice, .item-outfit {
  width: 100px;
  height: 100px;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 3px 3px 4px #bbb;
  color: #000;
  text-align: center;
  text-shadow: 1px 1px 2px #bbb;
}

.item img, .item-choice img, .item-outfit img {
  display: block;
  margin: 0 auto;
}

.item a, .item-choice a, .item-outfit a {
}

.item-outfit {
  width: 200px;
  height: 200px;
  margin: 5px;
  padding: 10px;
}


/********** **********/
.category-image {
  display: block;
  height: 60%;
  width: 60%;
}

div#article-choices {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  background-color: rgba(0,0,0,0.8);
  z-index: 1;
  overflow: scroll;
}

#calendar {
  margin: 20px;
}
