/********** General Layout **********/
.body {
  font-family: 'Belleza', sans-serif;
}

.row {
  /*margin-top: 75px;*/
}

/*.show-row {
  background: url(background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

.isotope.item {
  text-align: center;
}

.article-info {
  font-family: 'Oswald', sans-serif;
  text-align: center;
}


/********** Navbar **********/
.layout-header {
  background-color: rgba(0, 16, 74, 1.0);
}

.layout-header ul {
  list-style: none
}

.layout-header li {
  display: inline
}

.container-fluid {
  padding-top: 100px;
}

ul.nav {
  float: right;
  margin-right: 25px;
}

ul.nav li {
  margin: 0 5px;
}

.navbar-toggle .icon-bar:nth-of-type(2) {
    top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
    top: 2px;
}

.navbar-toggle .icon-bar {
    position: relative;
    transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
    top: 6px;
    transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
    background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
    top: -6px;
    transform: rotate(-45deg);
}

.navbar-toggle {
  margin-top: 20px;
}

.nav .navbar-btn {
  font-family: 'Belleza', sans-serif;
}


/********** Logo **********/
.logo {
  font-family: 'Belleza', sans-serif;
  font-size: 2em;
  margin: 10px 15px;
}


/********** Links **********/
a {
  text-decoration: none;
  color: rgba(114, 142, 166, 1.0);
}

a:hover {
  text-decoration: none;
}

/********** Buttons **********/
button {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

button.bottom-item, button.top-item, button.shoe-item {

}

button.bottom-item p, button.top-item p, button.shoe-item p {
  text-align: center;
  color: white;
}

.btn-lg {
  margin: 10px;
  width: 200px;
}


/********** Welcome Page Buttons **********/
.show-row .user-options {
  background-color: rgba(0, 16, 74, 1.0);
  color: rgba(255, 255, 255, 1.0);
}

/********** Wardrobe Top Buttons **********/
#analysis-link {
  text-align: center;
  margin: 7px 0 15px;
}

#analysis-link .analysis {
  width: 300px;
  font-family: 'Oswald', sans-serif;
  font-size: 1.25em;
  color: rgba(255, 255, 255, 1.0);
  background-image: url(/footer_lodyas.png);
  border-radius: 15px;
  padding: 10px;
}

.button-group {
  font-family: 'Oswald', sans-serif;
  color: rgba(255, 255, 255, 1.0);
  margin: 0 auto;
  text-align: center;
  margin-bottom: 15px;
}

.button-group .button {
  font-family: 'Oswald', sans-serif;
  font-size: 1.25em;
  border-radius: 15px;
  background-image: url(/footer_lodyas.png);
  padding: 20px;
}


/********** Article Show Page Buttons **********/
button#show-edit-article-form {
  background-color: rgba(140, 20, 20, 1.0);
  color: rgba(255, 255, 255, 1.0);
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
  border-radius: 15px;
  padding: 10px;
}

button#show-outfit-page {
  background-color: rgba(63, 140, 42, 1.0);
  color: rgba(255, 255, 255, 1.0);
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
  border-radius: 15px;
  padding: 10px;
}

.edit-button {
  text-align: center;
}

/********** Article Hidden Update Page **********/
#update-item-form {
  font-family: 'Oswald', sans-serif;
}

#color-wheels {
  margin-left: 25px;
}

.condition {
  margin-top: 15px;
}

.fixed {
  background-color: rgba(63, 140, 42, 1.0);
  color: rgba(255, 255, 255, 1.0);
  font-family: 'Oswald', sans-serif;
  border-radius: 15px;
  padding: 10px;
  margin-top: 25px;
}


/********** Login Form **********/
.form-group {
  font-family: 'Belleza', sans-serif;
  color: rgba(0, 16, 74, 1.0);
}

.form-group label {
  font-size: 2.5em;
  color: rgba(255, 255, 255, 1.0);
}

.form-group input {
  height: 3.25em;
  width: 250px;
}

.new-form {
  text-align: center;
  margin-top: 4em;
  background-color: rgba(0, 16, 74, 0.5);
  color: rgba(255, 255, 255, 1.0);
  font-family: 'Oswald', sans-serif;
  font-size: 1.25em;
  padding: 5px;
}

.new-form button {
  font-family: 'Belleza', sans-serif;
  color: rgba(0, 16, 74, 1.0);
  margin: 5px 10px;
}

.form-buttons {
  font-family: 'Belleza', sans-serif;
  display: inline;
  color: rgba(0, 16, 74, 1.0);
  margin: 5px 10px;
}

.form-buttons button a {
  color: rgba(0, 16, 74, 1.0);
}

.form-button {
  background-color: rgba(0, 16, 74, 1.0);
  color: rgba(255, 255, 255, 1.0);
  font-family: 'Belleza', sans-serif;
  font-size: 1.5em;
  border-radius: 15px;
  padding: 10px;
  margin-top: 15px;
}

.form-button:hover {
  color: rgba(36, 62, 115, 1.0);
}


/********** Header **********/
.page-header {
  margin-top: 100px;
  text-align: center
}

.page-header h1 {
  font-family: 'Belleza', sans-serif;
  color: rgba(0, 16, 74, 1.0);
}

.new-form {
  text-align: center;
  margin-top: 4em;
}

ul.wardrobe-show {
  list-style: none
}

button.bottom-item p, button.top-item p, button.shoe-item p {
  text-align: center;
  color: white;
}

h2.category-title {
  text-align: center;
}


/********** Items **********/
.items {
  font-family: 'Belleza', sans-serif;
  text-align: center;
}

.item, .item-choice, .item-outfit {
  width: 100px;
  height: 100px;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 3px 3px 4px #bbb;
  color: #000;
  text-align: center;
  text-shadow: 1px 1px 2px #bbb;
}

.item img, .item-choice img, .item-outfit img {
  display: block;
  margin: 0 auto;
}

.item a, .item-choice a, .item-outfit a {
}

.item-outfit {
  width: 200px;
  height: 200px;
  margin: 5px;
  padding: 10px;
}

.added-item {
  background-color: rgba(0, 16, 74, 0.5);
  display: block;
  color: rgba(255, 255, 255, 1.0);
  font-family: 'Oswald', sans-serif;
  font-size: 1.25em;
  border-radius: 15px;
  padding: 5px;
  margin-top: 10px;
}

/********** New Outfits Page **********/
.weather {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.0);
  border-left: 10px solid rgba(0, 16, 74, 1.0);
  font-family: 'Oswald', sans-serif;
  color: rgba(0, 16, 74, 1.0);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

.weather h4 {
  font-size: 1.5em;
}

.radios {
  font-family: 'Oswald', sans-serif;
  font-size: 1.25em;
  color: rgba(0, 16, 74, 1.0);
  text-align: center;
  margin-bottom: 15px;
}

.article-row {
  text-align: center;
}

.dislike {
  background-color: rgba(140, 20, 20, 1.0);
  color: rgba(255, 255, 255, 1.0);
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
  border-radius: 15px;
  padding: 10px;
  margin-top: 15px;
}

.like {
  background-color: rgba(63, 140, 42, 1.0);
  color: rgba(255, 255, 255, 1.0);
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
  border-radius: 15px;
  padding: 10px;
  margin-top: 15px;
}

.create {
  background-color: rgba(0, 16, 74, 1.0);
  color: rgba(255, 255, 255, 1.0);
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
  border-radius: 15px;
  padding: 10px;
  margin-top: 15px;
}

.outfit-issues {
  background-color: rgba(0, 16, 74, 0.5);
  color: rgba(255, 255, 255, 1.0);
  font-family: 'Oswald', sans-serif;
  font-size: 1.25em;
  border-radius: 15px;
  padding: 5px;
  margin-top: 10px;
}


/********** Show Outfit Page **********/
.quote {
  text-align: center;
  background: rgba(255, 255, 255, 0.0);
  border-left: 10px solid rgba(0, 16, 74, 1.0);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

cite {
  display: block;
  float: right;
  font-size: 1.25em;
}

blockquote:before {
  color: rgba(0, 16, 74, 1.0);
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote:after {
  color: rgba(0, 16, 74, 1.0);
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  font-family: 'Oswald', sans-serif;
  display: inline-block;
  font-size: 1.75em;
}

.stats {
  font-family: 'Oswald', sans-serif;
}

div#outfit-display {
  text-align: center;
}

.outfit-text {
  color: rgba(0, 0, 0, 1.0);
  -webkit-text-outline: 2px 1px #fff;
}


/********** **********/
.category-image {
  display: block;
  height: 60%;
  width: 60%;
}

div#article-choices {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  background-color: rgba(0,0,0,0.8);
  z-index: 1;
  overflow: scroll;
}

#calendar {
  margin: 20px;
}

